.timepicker-container {
	position: relative;
}

.timepicker-position {
	position: absolute;
	top:-14px;
}

.detail-timepicker-container {
	position: relative;
	top: -80px;
	left: 370px;
}

.job-list-item {
	margin: 0 0 10px 0;
}

.job-filter-item {
	margin: 20px 0 20px 0;
}

.panel-heading-item {
	display: inline-block;
	margin-right: 15px;
	overflow: hidden;
    text-overflow: ellipsis; 
}

.calendar .cheader {
	width:144px;
	margin:9px auto;
}

.date {
	border: 2px solid #dddddd;
	border-radius: 5px;
	height: 50px;
	text-align: justify;
	position: relative;
}

.clear-border {
	border: none ;
}

.day {
	width: 14%;
}

.events-number {
	position:absolute;
	top: 25%;
	left: 36%;
}

.nav-margin {
	margin: 30px 0 0 0;
}

.interview-close {
	position: relative;
	top: 10px;
	left: -85px;
	font-size: 17px;
}
