<h1>Jobs</h1>
<div class="row">
	<div class="col-md-3">
		<form>
			<div class="form-group">
				<label for="companyName">Company Name</label>
				<input ng-model="jobDetail.companyname" type="text" class="form-control" placeholder="Company Name...">
			</div>
		</form>
	</div>
	<div class="col-md-3">
		<form>
			<div class="form-group">
				<label for="location">Location</label>
				<input type="text" class="form-control" ng-model="jobDetail.location" placeholder="location...">
			</div>
		</form>
	</div>
	<div class="col-md-3">
		<form>
			<div class="form-group">
				<label for="jobtitle">Job Title</label>
				<input type="text" class="form-control" ng-model="jobDetail.jobtitle" placeholder="job title...">
			</div>
		</form>
	</div>
	<div class="col-md-3">
		<form>
			<div class="form-group">
				<label for="jobid">Job ID</label>
				<input type="text" class="form-control" ng-model="jobDetail.jobid" placeholder="job title...">
			</div>
		</form>
	</div>
	<div class="col-md-3">
		<form>
			<div class="form-group">
				<label for="status">Status</label>
				<select class="form-control" ng-model="statusOptions.selected" ng-options="option.name for option in statusOptions.options track by option.id" ng-change="setStatus(statusOptions.selected)">
				</select>
			</div>
		</form>
	</div>	
	<div class="col-md-3">
		<form>
			<div class="form-group">
				<label for="applydate">Applied Date</label>
				<div class="input-group">
					<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="jobDetail.applydate" is-open="pop.apply" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"/>
					<span class="input-group-btn">
						<button ng-click="openApply()" class="btn btn-default" type="button"><span class="glyphicon glyphicon-calendar"></span></button>
					</span>
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-6">
		<label for="interviewtime">Interview Time</label>
		<form class="form-inline">
			<div class="form-group">
				<div class="input-group">
					<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="jobDetail.interviewtime" is-open="pop.interview" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"/>
					<span class="input-group-btn">
						<button ng-click="openInterview()" class="btn btn-default" type="button"><span class="glyphicon glyphicon-calendar"></span></button>
					</span>
				</div>
				<div class="timepicker-container">
					<uib-timepicker ng-model="jobDetail.interviewtime" hour-step="1" minute-step="5" show-meridian="true"></uib-timepicker>
				</div>
			</div>
		</form>
	</div>
</div>
<button style="margin-top:-130px;" type="submit" class="btn btn-primary" ng-click="submit()">Add</button>
<hr>
<h1>Job List</h1>
<div class="row">
	<div class="col-md-9">
		<ol class="breadcrumb">
			<li>
				<a ng-click="setListOrder(0)">Company name</a>
			</li>
			<li>
				<a ng-click="setListOrder(1)">Title</a>
			</li>
			<li>
				<a ng-click="setListOrder(2)">Interview date</a>
				</li>
			<li>
				<a>Status</a> : 
			  	<select ng-model="statusFilterOptions.selected" ng-options="option.name for option in statusFilterOptions.options track by option.id">
			  	</select>
			</li>
		</ol>
	</div>
	<div class="col-md-9">
		<uib-accordion>
		<uib-accordion-group ng-repeat="job in joblist | jobStatusFilter: statusFilterOptions.selected | orderBy: joblistOption" is-open="job.open" panel-class="{{getPanelInfo(job.status)}}">
		<uib-accordion-heading>
		{{job.companyname}}, {{job.jobtitle}}, {{job.interviewtime | date : "dd-MMMM-yyyy 'at' h:mma"}}, {{job.status | jobStatus}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': job.open, 'glyphicon-chevron-right': !job.open}"></i>
	</uib-accordion-heading>
	<div>
		<div class="form-inline job-list-item">
			<div class="form-group">
				<label>Job ID: </label>
				<p ng-hide="job.isEdit" class="form-control-static">{{job.jobid}}</p>
				<input ng-show="job.isEdit" class="form-control no-animate" type="text" ng-model="job.temp.jobid">
			</div>
			<div style="float:right" class="form-group">
				<label>Status: </label>
				<p ng-hide="job.isEdit" class="form-control-static">{{job.status | jobStatus}}</p>
				<select ng-show="job.isEdit" class="form-control no-animate" ng-model="job.statusOptions.selected" ng-options="option.name for option in job.statusOptions.options track by option.id">
				</select>
			</div>
		</div>
		<div class="form-inline job-list-item">
			<div class="form-group">
				<label>Company Name: </label>
				<p ng-hide="job.isEdit" class="form-control-static">{{job.companyname}}</p>
				<input ng-show="job.isEdit" class="form-control no-animate" type="text" ng-model="job.temp.companyname">
			</div>
		</div>
		<div class="form-inline job-list-item">
			<div class="form-group">
				<label>Job Title: </label>
				<p ng-hide="job.isEdit" class="form-control-static">{{job.jobtitle}}</p>
				<input ng-show="job.isEdit" class="form-control no-animate" type="text" ng-model="job.temp.jobtitle">
			</div>
		</div>
		<div class="form-inline job-list-item">
			<div class="form-group">
				<label>Location: </label>
				<p ng-hide="job.isEdit" class="form-control-static">{{job.location}}</p>
				<input ng-show="job.isEdit" class="form-control no-animate" type="text" ng-model="job.temp.location">
			</div>
		</div>
		<div class="form-inline job-list-item">
			<div class="form-group">
				<label>Apply Date: </label>
				<p ng-hide="job.isEdit" class="form-control-static">{{job.applydate | date : 'dd-MMMM-yyyy'}}</p>
				<div class="input-group" ng-show="job.isEdit">
					<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="job.temp.applydate" is-open="job.pop.apply" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"/>
					<span class="input-group-btn">
						<button ng-click="openApply(job)" class="btn btn-default" type="button"><span class="glyphicon glyphicon-calendar"></span></button>
					</span>
				</div>
			</div>
		</div>
		<div class="form-inline job-list-item">
			<div style="max-height:60px" class="form-group">
				<label>Interview Date: </label>
				<p ng-hide="job.isEdit" class="form-control-static">{{job.interviewtime | date : "dd-MMMM-yyyy 'at' h:mma"}}</p>
				<div class="input-group" ng-show="job.isEdit">
					<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="job.temp.interviewtime" is-open="job.pop.interview" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"/>
					<span class="input-group-btn">
						<button ng-click="openInterview(job)" class="btn btn-default" type="button"><span class="glyphicon glyphicon-calendar"></span></button>
					</span>
				</div>
				<div class="detail-timepicker-container" ng-show="job.isEdit">
					<uib-timepicker ng-model="job.temp.interviewtime" hour-step="1" minute-step="5" show-meridian="true"></uib-timepicker>
				</div>
			</div>
		</div>
		<button ng-hide="job.isEdit" class="btn btn-primary" ng-click="openEdit(job)">Edit</button>
		<button ng-show="job.isEdit" class="btn btn-primary" ng-click="saveJob(job)">Save</button>
		<button ng-hide="job.isEdit" style="float:right" class="btn btn-danger" ng-click="deleteJob(job)">Delete</button>
		<button ng-show="job.isEdit" style="float:right" class="btn btn-danger" ng-click="closeEdit(job)">Close</button>
	</div>
</uib-accordion-group>
</uib-accordion>
</div>
</div>
